@using HtmlReporting.Models;
@*@model EmployeeMetadata*@
@model string

<h2>Index</h2>

<div>
    <fieldset>
        <legend>Employee List</legend>
        @Html.DisplayForModel()
    </fieldset>
    
</div>

